* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v105_210 {
  width: 100%;
  height: 1024px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v105_228 {
  width: 383px;
  height: 379px;
  background: url("../images/v105_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 1220px;
  overflow: hidden;
}
.v105_229 {
  width: 326px;
  height: 325px;
  background: rgba(25,127,193,0.7699999809265137);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v105_230 {
  width: 326px;
  height: 325px;
  background: rgba(26,127,193,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  overflow: hidden;
}
.v105_231 {
  width: 383px;
  height: 379px;
  background: url("../images/v105_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1186px;
  left: 220px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v105_232 {
  width: 326px;
  height: 325px;
  background: rgba(25,127,193,0.7699999809265137);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v105_233 {
  width: 326px;
  height: 325px;
  background: rgba(26,127,193,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v105_234 {
  width: 295px;
  height: 291px;
  background: url("../images/v105_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 57px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v105_236 {
  width: 50px;
  height: 50px;
  background: rgba(105,185,235,0.7300000190734863);
  opacity: 1;
  position: absolute;
  top: 190px;
  left: 245px;
  border-radius: 50%;
}
.v105_237 {
  width: 386px;
  height: 402px;
  background: url("../images/v105_237.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 1216px;
  overflow: hidden;
}
.v105_238 {
  width: 383px;
  height: 383px;
  background: rgba(105,185,235,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 4px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v109_58 {
  width: 507px;
  height: 667px;
  background: url("../images/v109_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 178px;
  left: 467px;
  overflow: hidden;
}
.v105_211 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 190px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v105_212 {
  width: 507px;
  height: 107px;
  background: url("../images/v105_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v105_213 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_214 {
  width: 507px;
  height: 70px;
  background: rgba(0,0,0,1);
  padding: 13px 18px;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_215 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.v105_216 {
  width: 36px;
  height: 29px;
  background: url("../images/v105_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 4px;
  overflow: hidden;
}
.v105_217 {
  width: 36px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v105_218 {
  width: 211px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 92px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_219 {
  width: 507px;
  height: 107px;
  background: url("../images/v105_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 0px;
  overflow: hidden;
}
.v105_220 {
  width: 98px;
  color: rgba(255,255,255,0.5099999904632568);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_221 {
  width: 507px;
  height: 70px;
  background: rgba(0,0,0,1);
  padding: 13px 18px;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_222 {
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 18px;
  overflow: hidden;
}
.v105_223 {
  width: 30px;
  height: 32px;
  background: rgba(255,255,255,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
}
.name {
  color: #fff;
}
.v105_224 {
  width: 92px;
  color: rgba(255,255,255,0.5099999904632568);
  position: absolute;
  top: 23px;
  left: 92px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_225 {
  width: 150px;
  color: rgba(26,127,193,1);
  position: absolute;
  top: 361px;
  left: 343px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v105_226 {
  width: 490px;
  height: 68px;
  background: rgba(26,127,193,1);
  padding: 15px 193px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v105_227 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 203px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 31px;
  opacity: 1;
  text-align: left;
}
.v108_50 {
  width: 381px;
  height: 29px;
  background: url("../images/v108_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 507px;
  left: 57px;
  overflow: hidden;
}
.v108_53 {
  width: 164px;
  background: url("../images/v108_53.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  border: 2px solid rgba(255,255,255,1);
}
.v108_51 {
  width: 27px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 177px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v108_52 {
  width: 164px;
  background: url("../images/v108_52.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 217px;
  border: 2px solid rgba(255,255,255,1);
}
.v105_241 {
  width: 198px;
  height: 48px;
  background: url("../images/v105_241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 563px;
  left: 148px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v109_55 {
  width: 321px;
  color: url("../images/v109_55.png");
  position: absolute;
  top: 638px;
  left: 87px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
